body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Tahoma, serif;
    font-size: 40px;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.box-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    width: 100px;
    border-top: 1px solid #687291;
}
.box-content:nth-of-type(odd) {
    background-color: #dfe1e7;
	display: flex;
    justify-content: center;
}
.box-content:nth-of-type(even) {
    background-color: #eeeff2;
	display: flex;
    justify-content: center;
}
.box-content:last-of-type {
    background-color: #687291;
    border: 4px solid black;
	display: flex;
    align-items: center;
    justify-content: center;
}
